

/*
* Font sizes
*
* .75 1 1.25 1.56 1.95 2.44
*/


$font-headline: 700 2.44rem 'Roboto Condensed', sans-serif;
$font-body: 1.25rem/28px 'Roboto Condensed', sans-serif;
$font-special: 300 1.56rem 'Roboto Condensed', sans-serif;

$desktop: 1200px;
$tablet: 768px;

$dark: #212121;
$primary: #8bc34a;
$primary-dark: #689f38;
$primary-light: #dcedc8;
$secondary: #607d8b;
$gray: #727272;
$gray-light: #b6b6b6;
$gray-light-light: #eeeeee;

$spacing-unit: 50px;
