@import "compass/reset";
@import "singularitygs";
@import "breakpoint";
@import "compass/utilities";

// custom partials
@import "variables";

@import "materialize/materialize";

htmnl {
  font-size: 16px;
}

body {
  font: $font-body;
  color: $dark;
}

h1, h2, h3, h4 {
  font: $font-headline;
  margin-bottom: 1rem;
  @extend .center-align;

}
h2 {
  font-size: 2.44rem;
}
h3 {
  font-size:  1.95rem;
}
h4 {
  font-size: 1.56rem;
}

p {
  margin-bottom: 1rem;
}

ul {
 list-style: disc;
  line-height: 160%;
  padding: 0 40px;
}

/*
* Sitewide elements
*/
header {
  @extend .grey;
  @extend .lighten-3;
  @extend .section;
  @extend .z-depth-1;
  margin-bottom: $spacing-unit;
}

main {
  @extend .section;
}



/*
* Home Page
*/

.site-logo {
  float: left;
  margin-right: 20px;
}
.site-name a {
  @extend h4;
  color: $gray;
  line-height: 50px;
}



/*
* Layout
*/

  //debug mode
//@include sgs-change('debug', true);
//main {
//  @include background-grid($color: pink);
//}


@include add-grid(12);
@include add-gutter(1/3);

main, .wrapper {
  @include pie-clearfix;
  @include breakpoint($tablet) {
    max-width: $tablet;
    margin: 0 auto;
  }
  @include breakpoint($desktop) {
    max-width: $desktop;
  }
}

.region-content {
  @include breakpoint($tablet) {
    @include grid-span(8, 3);
  }
}

.block-system-branding-block {
  @include breakpoint($tablet) {
    @include grid-span(4, 1);
  }
}

.block-menu.navigation {
  @include breakpoint($tablet) {
    @include grid-span(8, 5)
  }
}

/*
* Component Styles
*/

// navigation
.block-menu.navigation {
  ul.menu {
    float: right;
    font-size: 1.25rem;
  }
  li.menu-item {
    float: left;
    margin-right: 20px;
    line-height: 48px;
  }
}

.field--name-field-hero-image {
  @extend .section;
  img {
    @extend .circle;
    @extend .z-depth-2;
    margin: 0 auto;
    display: block;
  }
}

/*
* Forms
*/
//textarea {
//  @extend .materialize-textarea;
//}