@import "compass/reset";
@import "singularitygs";
@import "breakpoint";
@import "compass/utilities";

// custom partials
@import "variables";
@import "layout";

@import "materialize/materialize";

htmnl {
  font-size: 16px;
}

body {
  font: $font-body;
  color: $dark;
}

h1, h2, h3, h4 {
  font: $font-headline;
  margin-bottom: 1rem;
  @extend .center-align;

}
h2 {
  font-size: 2.44rem;
}
h3 {
  font-size:  1.95rem;
}
h4 {
  font-size: 1.56rem;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style: disc;
  line-height: 160%;
  padding: 0 40px;
}

img {
  max-width: 100%;
  height: auto;
}

/*
* Sitewide elements
*/
header {
  @extend .grey;
  @extend .lighten-3;
  @extend .section;
  @extend .z-depth-1;
  @include breakpoint($tablet) {
    margin-bottom: $spacing-unit;
  }
}

main {
  @extend .section;
}

/*
* Forms
*/
.contact-form {
  margin-top: 5rem;
}
input[type=submit] {
  @extend .btn;
  @extend .waves-effect;
  @extend .waves-light;
}

/*
* Component Styles
*/

// navigation
.block-menu.navigation {
  ul.menu {
    clear: both;
    font-size: 1.25rem;
    @include breakpoint($tablet) {
      float: right;
    }
  }
  li.menu-item {
    float: left;
    margin-right: 20px;
    line-height: 48px;
  }
}

.field--name-field-hero-image {
  @extend .section;
  img {
    @extend .circle;
    @extend .z-depth-2;
    margin: 0 auto;
    display: block;
  }
}

/*
* Home Page
*/

.site-logo {
  float: left;
  margin-right: 20px;
}
.site-name a {
  @extend h4;
  color: $gray;
  line-height: 50px;
}

/*
* Portfolio Listing
*/
.views-row {
  @extend .section;
  clear: both;
  height: auto;
  overflow: hidden;
}
.views-field-field-portfolio-image {
  margin-bottom: 20px;
  img {
    display: block;
    margin: 0 auto;
    @extend .circle;
    @extend .z-depth-2;
  }
  @include breakpoint($desktop) {
    float: left;
    margin-right: 20px;
  }
}

/*
* Portfolio Detail
*/
.field--name-field-portfolio-image {
  height: auto;
  overflow: hidden;
  .field__item {
    float: left;
    margin: 0 10px 10px 0;
  }
}
